/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fc-pink: #e53170;
    --fc-tbackground: #0f0e17;
    --fc-lightblu: #2fa6da;
    --fc-grey: #b1b2b5;
    --fc-ligth: #ffffff;
}


body {
    font-family: 'Fredoka', sans-serif;
}

/* CLEARFIX */
.card::after, .raw::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    color: var(--fc-pink);
    padding: 2rem;
    text-align: center;
}
/* #endregion common */


.descrip-team p {
    padding: 1rem;
    text-align: center;
}

#app-header {
    max-width: 1170px;
    margin: 0 auto;
}

#app-main {
    max-width: 1170px;
    margin: 0 auto;
}

.col-t {
    width: calc(100% / 3 );
    float: left;
    padding: 1rem;
}
.card {
    background-color: var(--fc-tbackground);
    color: var(--fc-ligth);
    Box-shadow: 2px 3px 16px 3px #888888;
}
img {
    float: left;
    width: calc(100% / 3);
}

.details {
    float:left;
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.details p, h3{
    padding: 0.25rem
}

.email {
    color: var(--fc-lightblu);
}


/* debug */
/* .debug {
    height: 100px;
    background-color: #e53170;
    border: 1px solid #ff8906;
} */

.app_footer .copy {
    background: rgba(119, 119, 119, 0.484);
    text-align: center;
    line-height: 40px;
    font-size: 0.7em;
    color: var(--fc-ligth);
    position: absolute;
    bottom: 20px;
    width: 100%;
}