/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fc-pink: #e53170;
    --fc-tbackground: #0f0e17;
    --fc-lightblu: #2fa6da;
    --fc-grey: #b1b2b5;
}


body {
    font-family: 'Fredoka', sans-serif;
}

/* CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header h1 {
    color: var(--fc-pink);
    padding: 2rem;
    text-align: center;
}

/* endregion common */

.descrip-team p {
    padding: 1rem;
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.colums-team .col-t {
    width: calc(100% / 3 - 2rem);
    float: left;
    margin: 1rem;
    background-color: var(--fc-tbackground);
    color: white;
}



.col-t {
    Box-shadow: 2px 3px 16px 3px #888888;
}
.col-t img {
    max-width: 100%;
    float: left;
    padding-right: 1rem;
}

.img    {
    width: calc(100% / 3);
}

.col-t p {
    padding-top: 0.5rem;
}

.email {
    color: var(--fc-lightblu);
}


/* debug */
/* .debug {
    height: 100px;
    background-color: #e53170;
    border: 1px solid #ff8906;
} */

.app_footer .copy {
    background: rgba(119, 119, 119, 0.484);
    text-align: center;
    line-height: 40px;
    font-size: 0.7em;
    color: white;
    position: absolute;
    bottom: 20px;
    width: 100%;
}